openai~=1.60.2
ansible-core~=2.17.0


DZ1BAy5lKK3NhOXqoEChCOR9POc6enT03YKqTTeX1rYvUCESnJyiJQQJ99BEACL93NaXJ3w3AAABACOG4lHM

https://sandbox-sgfj-openai-auseast.openai.azure.com/

2024-12-01-preview


import os
from openai import AzureOpenAI

endpoint = "https://sandbox-sgfj-openai-auseast.openai.azure.com/"
model_name = "gpt-4o"
deployment = "sgfj-gpt-4o"

subscription_key = "<your-api-key>"
api_version = "2024-12-01-preview"

client = AzureOpenAI(
    api_version=api_version,
    azure_endpoint=endpoint,
    api_key=subscription_key,
)

response = client.chat.completions.create(
    messages=[
        {
            "role": "system",
            "content": "You are a helpful assistant.",
        },
        {
            "role": "user",
            "content": "I am going to Paris, what should I see?",
        }
    ],
    max_tokens=4096,
    temperature=1.0,
    top_p=1.0,
    model=deployment
)

import boto3
import json

client = boto3.client('bedrock-agentcore', region_name='ap-southeast-2')
payload = json.dumps({"prompt": "Explain machine learning in simple terms"})

response = client.invoke_agent_runtime(
    agentRuntimeArn='arn:aws:bedrock-agentcore:ap-southeast-2:737787212609:runtime/hosted_agent_cnwvg-waykc5HlXX',
    runtimeSessionId='<Enter your SessionId>', # Must be 33+ char. Every new SessionId will create a new MicroVM
    payload=payload,
    qualifier="<Replace with your Endpoint>" # This is Optional. When the field is not provided, Runtime will use DEFAULT endpoint
)
response_body = response['response'].read()
response_data = json.loads(response_body)
print("Agent Response:", response_data)
print(response.choices[0].message.content)


SET AWS_ACCESS_KEY_ID=ASIA2XR4LONAQ72DCBCA
SET AWS_SECRET_ACCESS_KEY=kbIbIGTWpjMEYTLddbHWZQwhqntRwXaiCevvS63x
SET AWS_SESSION_TOKEN=IQoJb3JpZ2luX2VjEI3//////////wEaDmFwLXNvdXRoZWFzdC0yIkgwRgIhAO03y3T7/U06ROY6mwiLZDth4KgQ7epyhVNX0/4AOKcpAiEAnASyhCpM/Hr/sLlCF+O068R0dmplMMBbIC+QHEblWWUqqAMIVhABGgw3Mzc3ODcyMTI2MDkiDNxfbd2Cn5TF01aS/CqFA9QQsgQPq79hfz92ZPH49FE4tYGpBVGw8EqQk9nUe81G1K4/gAY1OlNVVSFqIgccFvETLP5a35XAZu8rxvrtgE1Ui94J3n7u2NJtCVKZ2p2vdVJrfJf7eu76aYj7YAtOaNOAlNklL5n/8YqzCofrdy+PGmG1rRvnHp3AH8grKLzIT2My913zZaDMFs+ukj0Bpax/4l7VBQMAhV8WbVEXWkGwvizQoY2LixqOmYYp75g+w8dn2jMI2HmzRvlJNI43iv4p51IJtzwmdV4NiIqAGXlqtnMEPcIckpI/eIQSSvpwFtdF7TFxNrwJhqfzcTqNaWgKuYTdUl701gLzwZyzqOaLqzDkco2QWILQouQoJBsXF9WgCz1XMWkX1QSP+H/adga0X5HXf4OmjwsbNpSSM/Bu6S8vet8AbGMfhCXhUKkMQHzQvyvCZE1zOPj0S5PocFcCd3sdGjuX2b/3VfEM6ABEuMt/wKc+YmyPjs0PATzorRB0j6vR3ahutq9h/cM/+jTQiPQVMOyMm8wGOqMBnkjEqAYJJ3JkSItHSf64BL1k6wlx/wrsZ0Y6Gwy49Fn2RkyiDodJR347fw4xHD/amFGGWlz3tgZHnxy581QEnNCt310CZ1vjJB0U9frDhtBUWGvD5W/BQHKw4YFx4bbg1OfxGOMOCpUfn+MYkB1lp0iibjPBFAOP598HQyamYVD134FwEGa2F2+f6hpbmxqu9Jqtw+cFjmELAzOsLXFaCzLDXw==


curl -X POST http://localhost:8080/invoke -H "Content-Type: application/json" -d "{\"prompt\": \"Explain AgentCore Runtime in simple words\"}"